{% extends 'base.html' %}
{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags %}
{% block content %}

{#    <div class="w3-center w3-padding w3-border-bottom w3-pale-blue">#}
{#        <v-btn text class="w3-bar-item {% if page.title == 'Insights' %}w3-blue{% endif %}"#}
{#               href="{% slugurl 'about' %}">Learn more about our leadership &nbsp;&rightarrow;#}
{#        </v-btn>#}
{#    </div>#}
    <section class="hero is-medium is-bold">
        <div class="hero-body">
            <div class="container w3-content">
                <p class="tf-r-font w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    Established in 2016, <strong style="text-decoration: underline">TURF Psyclox Consulting</strong>
                    provides services in Financial Advisory, Management
                    Consultancy and Valuations.
                </p>
                <p class="tf-r-font w3-xlarge w3-hide-medium w3-hide-large" style="line-height: 1.5">
                    Established in 2016, <strong style="text-decoration: underline">TURF Psyclox Consulting</strong>
                    provides services in Financial Advisory, Management
                    Consultancy and Valuations.
                </p>
            </div>
        </div>
    </section>
    <section class="hero is-medium bgimg">
        <div class="hero-body bgoverlay">
            <div class="container w3-content">
                <h1 class="title">
                    <br>
                </h1>
                <h2 class="subtitle"><br></h2>
            </div>
        </div>
    </section>
    <section class="hero is-small is-bold w3-border-top">
        <div class="hero-body">
            <div class="container w3-content">
                <h3 class="w3-center tf-b-font w3-xxlarge w3-padding-16">About</h3>
                <p class="tf-r-font w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    We strive to deliver best in class management advisory and consultancy solutions across the value
                    chain of all private business and public entities in Ghana.
                    <br>
                    <br>
                    This means delivering value enhancing services to our clients through the delivery of practical
                    solutions.
                    <br>
                    <br>
                    We draw on the strengths of our technical associates in various industries to effectively and
                    efficiently diagnose, identify, and develop innovative, practical, and sustainable solutions for our
                    clients.

                </p>
                <p class="tf-r-font w3-xlarge w3-hide-medium w3-hide-large" style="line-height: 1.5">
                    We strive to deliver best in class management advisory and consultancy solutions across the value
                    chain of all private business and public entities in Ghana.
                    <br>
                    <br>
                    This means delivering value enhancing services to our clients through the delivery of practical
                    solutions.
                    <br>
                    <br>
                    We draw on the strengths of our technical associates in various industries to effectively and
                    efficiently diagnose, identify, and develop innovative, practical, and sustainable solutions for our
                    clients.
                </p>
            </div>
        </div>
    </section>
    <section class="hero is-medium bgimg">
        <div class="hero-body bgoverlay">
            <div class="container w3-content">
                <h1 class="title">
                    <br>
                </h1>
                <h2 class="subtitle"><br></h2>
            </div>
        </div>
    </section>

    <section class="hero is-small is-bold w3-border-top">
        <div class="hero-body">
            <div class="container w3-content">
                <h3 class="w3-center tf-b-font w3-xxlarge w3-padding-16">Our Core Values</h3>
                <p class="tf-r-font w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    Our core values ensure that the company focuses on its primary goals to deliver the best solutions
                    to clients and that exceptional quality of our work remains streamlined across our breadth of services:
                    <br>
                    <br>
                    <i class="fas fa-dumbbell"></i>
                    <br>
                    <strong class="is-underlined">Tenacity</strong>
                    <br>
                    No matter the difficulty of scope and terrain, we remain steadfast to our course. We do not give up
                    or despair at a loss.
                    <br>
                    <br>
                    <i class="fas fa-thumbs-up"></i>
                    <br>
                    <strong class="is-underlined">Usefulness</strong>
                    <br>
                    We deliver useful solutions that are relevant to the client in the long-term. Our reports are
                    developed with the needs of all stakeholders in mind.
                    <br>
                    <br>
                    <i class="fas fa-business-time"></i>
                    <br>
                    <strong class="is-underlined">Reliability</strong>
                    <br>
                    Building a reliable relationship on trust is important to us. It is the reason for our existence. We
                    engage regularly with clients and make effective use of feedbacks.
                    <br>
                    <br>
                    <i class="fas fa-gavel"></i>
                    <br>
                    <strong class="is-underlined">Frankness</strong>
                    <br>
                    Through our years of experiences, we collectively and individually cherish the
                    value of friendship. We develop healthy rapport with our clients and associates
                    on all assignments. Openness and transparency are the foundations upon which
                    we build such relationships. As a usual practice, we accommodate all criticisms
                    for continuous improvement to enable us provide dynamic solutions.
                    <br>
                    <br>
                    <i class="fas fa-star"></i>
                    <br>
                    <strong class="is-underlined">Corporate Culture</strong>
                    <br>
                    With a strong corporate culture, we ensure that our leadership and staff have the best working
                    environment to produce the best quality of work for our clients.
                    <br>
                    <br>
                    <i class="fas fa-heart"></i>
                    <br>
                    <strong class="is-underlined">Human Rights</strong>
                    <br>
                    We uphold the rights and dignity of all humans and do not condone any form of sociocultural or
                    religious abuse and biases, irrespective of country of origin.
                    <br>
                    <br>
                    We do not discriminate our operations, either internally or externally, on the basis of gender. All
                    employees and clients are treated equally and fairly. We appreciate the ability of females to excel
                    and provide them with adequate support
                    <br>
                    <br>
                    We uphold the rights of women and treat our women clients and employees with respect and dignity. We
                    provide both men and women with equal opportunities to excel.
                    <br>
                    <br>
                    We do not encourage or make use of child labour directly or indirectly in any aspect of our
                    operations.
                    <br>
                    <br>
                    <i class="fas fa-user-shield"></i>
                    <br>
                    <strong class="is-underlined">Health, Safety & Environment Protection</strong>
                    <br>
                    We are highly conscious of the health and safety of our employees and provide safe transport and
                    accommodation in our internal and external travels to ensure conducive working environment.
                    <br>
                    <br>
                    The protection of lives, goods, properties and the environment weigh significantly on our decisions
                    at all times.
                    <br>
                    <br>
                    We strictly abide by all local and international rules and regulations involving standard procedures
                    and prohibitions in the delivery of any of our services.


                </p>
                <p class="tf-r-font w3-xlarge w3-hide-medium w3-hide-large" style="line-height: 1.5">
                    Our core values ensure that the company focuses on its primary goals to deliver the best solutions
                    to clients and that high quality of our work remains streamlined across our breadth of services:
                    <br>
                    <br>
                    TENACITY
                    <br>
                    No matter the difficulty of scope and terrain, we remain steadfast to our course. We do not give up
                    or despair at a loss.
                    <br>
                    <br>
                    USEFULNESS
                    <br>
                    We deliver useful solutions that are relevant to the client in the long-term. Our reports are
                    developed with the needs of all stakeholders in mind.
                    <br>
                    <br>
                    RELIABILITY
                    <br>
                    Building a reliable relationship on trust is important to us. It is the reason for our existence. We
                    engage regularly with clients and make effective use of feedbacks.
                    <br>
                    <br>
                    FRANKNESS
                    <br>
                    Through our years of experiences, we collectively and individually cherish the
                    value of friendship. We develop healthy rapport with our clients and associates
                    on all assignments. Openness and transparency are the foundations upon which
                    we build such relationships. As a usual practice, we accommodate all criticisms
                    for continuous improvement to enable us provide dynamic solutions.
                    <br>
                    <br>
                    CORPORATE CULTURE
                    <br>
                    With a strong corporate culture, we ensure that our leadership and staff have the best working
                    environment to produce the best quality of work for our clients.
                    <br>
                    <br>
                    HUMAN RIGHTS
                    <br>
                    We uphold the rights and dignity of all humans and do not condone any form of sociocultural or
                    religious abuse and biases, irrespective of country of origin.
                    <br>
                    <br>
                    We do not discriminate our operations, either internally or externally, on the basis of gender. All
                    employees and clients are treated equally and fairly. We appreciate the ability of females to excel
                    and provide them with adequate support
                    <br>
                    <br>
                    We uphold the rights of women and treat our women clients and employees with respect and dignity. We
                    provide both men and women with equal opportunities to excel.
                    <br>
                    <br>
                    We do not encourage or make use of child labour directly or indirectly in any aspect of our
                    operations.
                    <br>
                    <br>
                    HEALTH, SAFETY & ENVIRONMENTAL PROTECTION
                    <br>
                    We are highly conscious of the health and safety of our employees and provide safe transport and
                    accommodation in our internal and external travels to ensure conducive working environment.
                    <br>
                    <br>
                    The protection of lives, goods, properties and the environment weigh significantly on our decisions
                    at all times.
                    <br>
                    <br>
                    We strictly abide by all local and international rules and regulations involving standard procedures
                    and prohibitions in the delivery of any of our services.


                </p>
            </div>
        </div>
    </section>
{% endblock %}
