{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="hero is-medium is-bold">
        <div class="hero-body">
            <div class="container w3-content">
                <h1 class="title tf-b-font w3-center w3-xxxlarge w3-hide-small">
                    Delivering a Rigorous, Practical Approach to Addressing Today’s Business Challenges
                </h1>
                <h1 class="title tf-b-font w3-center w3-xxlarge w3-hide-medium w3-hide-large">
                    Delivering a Rigorous, Practical Approach to Addressing Today’s Business Challenges
                </h1>

                <div class="w3-center">
                    <v-btn text outlined large class="w3-padding w3-border-blue w3-blue">
                        Learn more
                    </v-btn>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-medium is-bold bgimg">
        <div class="hero-body bgoverlay">
            <div class="container w3-content">
                <h1 class="title">
                    <br>
                    <br>
                </h1>
                <h2 class="subtitle"><br></h2>
            </div>
        </div>
    </section>
    <section class="hero is-medium is-bold">
        <div class="hero-body">
            <div class="container w3-content">
                <h2 class="title tf-r-font w3-center w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    TURF Psyclox Consulting provides <strong class="w3-text-blue w3-border-bottom w3-border-blue">world
                    class management advisory</strong> and <strong class="w3-text-blue w3-border-bottom w3-border-blue">consultancy
                    solutions</strong> for
                    private businesses and public entities in every industry in Ghana
                </h2>
                <h2 class="title tf-r-font w3-center w3-xlarge w3-hide-large w3-hide-medium" style="line-height: 1.5">
                    TURF Psyclox Consulting provides <strong class="w3-text-blue w3-border-bottom w3-border-blue">world
                    class management advisory</strong> and <strong class="w3-text-blue w3-border-bottom w3-border-blue">consultancy
                    solutions</strong> for
                    private businesses and public entities in every industry in Ghana
                </h2>
                <div class="w3-center">
                    <v-btn text outlined large class="w3-padding w3-border-blue w3-blue">
                        Learn more about us
                    </v-btn>
                </div>
            </div>
        </div>
    </section>
    <section class="w3-border-top">
        <div class="w3-padding-64 w3-container">
            <h3 class="w3-center tf-b-font w3-xxlarge">Services</h3>
            <div class="columns is-multiline w3-padding-16" style="max-width: 1300px;margin: auto">
                {% for service in services %}
                    <div class="column is-4">
                        <a href="">
                            <div class="w3-border-black">
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                                <div class="w3-center w3-padding-16 w3-large">{{ service }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="w3-center">
                <v-btn text outlined large class="w3-padding w3-border-blue w3-blue">
                    Read more
                </v-btn>
            </div>

        </div>
    </section>

    <section class="hero is-medium is-bold w3-border-top">
        <div class="hero-body">
            <div class="container w3-content">
                <h2 class="title tf-r-font w3-center w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    Combining <strong class="w3-text-blue w3-border-bottom w3-border-blue">decades of
                    experience</strong> and <strong class="w3-text-blue w3-border-bottom w3-border-blue">strategic
                    affiliations</strong> to deliver expert, innovative solutions across industries.
                    <br>
                    <div class="w3-margin-top w3-text-grey w3-white w3-padding-large w3-border w3-border-blue"
                         style="font-size: inherit">Energy, Resources and Industrials, Telecommunications and
                        Technology, Financial
                        Services, Government & Public Services, and more.
                    </div>
                </h2>
                <h2 class="title tf-r-font w3-center w3-xlarge w3-hide-medium w3-hide-large" style="line-height: 1.5">
                    Combining <strong class="w3-text-blue w3-border-bottom w3-border-blue">decades of
                    experience</strong> and <strong class="w3-text-blue w3-border-bottom w3-border-blue">strategic
                    affiliations</strong> to deliver expert, innovative solutions across industries.
                    <br>
                    <div class="w3-margin-top w3-text-grey w3-white w3-padding-large w3-border w3-border-blue"
                         style="font-size: inherit">Energy, Resources and Industrials, Telecommunications and
                        Technology, Financial
                        Services, Government & Public Services, and more.
                    </div>
                </h2>
                <div class="w3-center w3-margin-top">
                    <v-btn text outlined large class="w3-padding w3-border-blue w3-blue">
                        Read our insights
                    </v-btn>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
