{% extends 'base.html' %}
{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags %}
{% block content %}
    <section class="hero is-medium is-bold w3-border-top">
        <div class="hero-body">
            <div class="container w3-content">
                <p class="tf-r-font w3-xxlarge w3-hide-small" style="line-height: 1.5">
                    TURF Psyclox Consulting offers
                    the widest and most comprehensive range of services of any professional services firm in Ghana.
                    <br>
                    <br>
                    We invest tremendous resources in understanding clients’ needs first hand to provide market,
                    country,
                    and regulatory environment assessment to assess the extent of influence on their growth and
                    profitability.
                </p>
                <p class="tf-r-font w3-xlarge w3-hide-medium w3-hide-large" style="line-height: 1.5">
                    TURF Psyclox Consulting offers
                    the widest and most comprehensive range of services of any professional services firm in Ghana.
                    <br>
                    <br>
                    We invest tremendous resources in understanding clients’ needs first hand to provide market,
                    country,
                    and regulatory environment assessment to assess the extent of influence on their growth and
                    profitability.
                </p>
            </div>
        </div>
    </section>
    <section class="w3-light-grey">
        <div style="max-width: 1200px;margin: auto" class="w3-container w3-padding-64">
            <div class="columns is-multiline">
                <h2 class="column is-4 tf-b-font w3-text-blue ">
                    Financial Advisory
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                </h2>
                <div class="column is-8">
                    <div>
                        <div class="w3-large">
                            <strong>Financial Advisory Services provides comprehensive financial, economic and strategic
                                advice
                                to companies and individuals including:</strong>
                            <br>
                            <li class="w3-large w3-margin-top">Accounting Support Services</li>
                            <li class="w3-large w3-margin-top">Transaction Advisory</li>
                            <li class="w3-large w3-margin-top">Financial Due Diligence</li>
                            <li class="w3-large w3-margin-top">Financial Planning</li>
                            <li class="w3-large w3-margin-top">Costing and Budgeting</li>
                            <li class="w3-large w3-margin-top">Capital Raising Support</li>
                            <li class="w3-large w3-margin-top">Value for Money Assessment</li>
                            <li class="w3-large w3-margin-top">Revenue and Cost Assurance</li>
                        </div>
                    </div>
                </div>
                <h2 class="column is-4 tf-b-font w3-text-blue ">
                    Strategy & Operations
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                </h2>
                <div class="column is-8">
                    <div>
                        <div class="w3-large">
                            <strong>We leverage deep knowledge of the regulatory environment and industry-specific
                                developments to develop informed, innovative solutions in the following areas:</strong>
                            <br>
                            <li class="w3-large w3-margin-top">Strategic Planning development</li>

                            <li class="w3-large w3-margin-top">Feasibility Studies & Business</li>

                            <li class="w3-large w3-margin-top">Plan Development</li>

                            <li class="w3-large w3-margin-top">HR Strategy Advisory</li>

                            <li class="w3-large w3-margin-top">Business Process Engineering</li>

                            <li class="w3-large w3-margin-top">Procurement & Supply Chain</li>

                            <li class="w3-large w3-margin-top">Commercial Due Diligence</li>

                            <li class="w3-large w3-margin-top">Trade Facilitation & Advisory</li>

                            <li class="w3-large w3-margin-top">Socioeconomic Research</li>

                            <li class="w3-large w3-margin-top">Monitoring and Evaluation</li>

                            <li class="w3-large w3-margin-top">Impact Assessment and Benefit Analysis</li>

                        </div>
                    </div>
                </div>
                <h2 class="column is-4 tf-b-font w3-text-blue ">
                    Valuations
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                </h2>
                <div class="column is-8">
                    <div>
                        <div class="w3-large">
                            <strong>With an extensive professional work, we work to unlock the true value from existing
                                assets, investments, ongoing capital expenditures, new acquisitions and complex
                                corporate arrangements in these ways:</strong>
                            <br>
                            <li class="w3-large w3-margin-top">Business and Intangible Assets Valuations</li>

                            <li class="w3-large w3-margin-top">Tangible Asset</li>

                            <li class="w3-large w3-margin-top">Valuations (PPE)</li>

                            <li class="w3-large w3-margin-top">Revaluation for Financial</li>

                            <li class="w3-large w3-margin-top">Reporting</li>

                            <li class="w3-large w3-margin-top">Valuation of Petroleum</li>

                            <li class="w3-large w3-margin-top">Assets (Upstream and Downstream)</li>

                            <li class="w3-large w3-margin-top">Valuation of Mineral</li>

                            <li class="w3-large w3-margin-top">Assets</li>
                        </div>
                    </div>
                </div>
                <h2 class="column is-4 tf-b-font w3-text-blue ">
                    Practical Solutions
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                </h2>
                <div class="column is-8">
                    <div>
                        <div class="w3-large">
                            <strong>With an extensive professional work, we work to unlock the true value from existing
                                assets, investments, ongoing capital expenditures, new acquisitions and complex
                                corporate arrangements in these ways:</strong>
                            <br>
                            <li class="w3-large w3-margin-top">Business and Technical Report Writing</li>

                            <li class="w3-large w3-margin-top">MS Excel, Word and Powerpoint proficiency</li>

                            <li class="w3-large w3-margin-top">Financial Modelling</li>

                            <li class="w3-large w3-margin-top">Marketing and Customer Relations</li>

                            <li class="w3-large w3-margin-top">Strategic Planning and Business Development</li>

                            <li class="w3-large w3-margin-top">Corporate Finance</li>

                            <li class="w3-large w3-margin-top">Valuation</li>

                            <li class="w3-large w3-margin-top">Consultancy</li>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="w3-center">
                <strong class="w3-xlarge">Seeking any of these services?</strong>
                <br>
                <v-btn text outlined large class="w3-padding w3-border-blue w3-blue w3-margin-top">
                    Talk to us
                </v-btn>
            </div>
        </div>

        <br>
    </section>
{% endblock %}
