{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta content="" name="description"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="{% static 'css/bulma.css' %}" rel="stylesheet" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link href="{% static 'css/w3.css' %}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    {% block extra_css %}
    {% endblock %}
    <style>
        @font-face {
            font-family: 'GoogleSans-Bold';
            font-display: swap;
            src: url('{% static 'fonts/GoogleSans/GoogleSans-Bold.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'GoogleSans-Medium';
            font-display: swap;
            src: url('{% static 'fonts/GoogleSans/GoogleSans-Medium.ttf' %}') format('truetype');
        }

        @font-face {
            font-family: 'GoogleSans-Regular';
            font-display: swap;
            src: url('{% static 'fonts/GoogleSans/GoogleSans-Regular.ttf' %}') format('truetype');
        }

        * {
            font-size: 16px;
        }

        .v-btn {
            text-transform: none;
        }

        .bgimg {
            background-image: url('{% static 'images/people-sitting-around-brown-wooden-table-under-white-pendant-1181435.jpg' %}');
            background-position: top;
            background-size: cover
        }

        .bgoverlay {
            background: rgba(0, 0, 0, 0.6);
        }
    </style>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div id="app">
    <v-app-bar class="w3-border-bottom w3-white" flat>
        <a href="/">
            <v-toolbar-title class="w3-large"><img src="{% static 'images/logo.png' %}" alt="" style="max-height: 35px;"></v-toolbar-title>
        </a>
        <v-spacer></v-spacer>
        <v-btn text class="w3-hide-small tf-r-font {% if page.title == 'Services' %}w3-blue{% endif %}"
               href="{% slugurl 'services' %}">
            Services
        </v-btn>
        &nbsp;
        <v-btn text class="w3-hide-small tf-r-font {% if page.title == 'Insights' %}w3-blue{% endif %}"
               href="{% slugurl 'insights' %}">
            Insights
        </v-btn>
        &nbsp;
        <v-btn text class="w3-hide-small tf-r-font {% if page.title == 'About' %}w3-blue{% endif %}"
               href="{% slugurl 'about' %}">
            About
        </v-btn>
        &nbsp;
        <v-btn text class="tf-r-font {% if page.title == 'Contact' %}w3-blue{% endif %}" href="{% slugurl 'contact' %}">
            Contact
        </v-btn>
    </v-app-bar>
    <div class="w3-center w3-padding w3-border-bottom w3-hide-large w3-hide-medium">
        <v-btn text class="w3-bar-item {% if page.title == 'Services' %}w3-blue{% endif %}"
               href="{% slugurl 'services' %}">Services
        </v-btn>
        &nbsp;
        <v-btn text class="w3-bar-item {% if page.title == 'Insights' %}w3-blue{% endif %}"
               href="{% slugurl 'insights' %}">Insights
        </v-btn>
        &nbsp;
        <v-btn text class="w3-bar-item {% if page.title == 'About' %}w3-blue{% endif %}" href="{% slugurl 'about' %}">
            About
        </v-btn>
    </div>
    <div style="min-height:100vh">
        {% block content %}{% endblock %}
    </div>
    <footer class="w3-padding-32 w3-padding-large w3-white w3-border-top">
        <div class="container">
            <div class="columns is-multiline is-mobile">
                <div class="column is-6-mobile">
                    <h3 class="is-marginless"><strong class="tf-b-font">Turf Psyclox Consulting</strong></h3>
                    <div class="w3-margin-top ">
                        Nii Nortey Quarshie Street,
                        <br>
                        <br>
                        Near Dzorwulu Special School,
                        <br>
                        <br>
                        Dzorwulu – Accra

                    </div>

                </div>
                <div class="column is-6-mobile is-hidden-mobile">
                    <br>
                </div>
                <div class="column is-6-mobile">
                    <div class="w3-large w3-text-grey w3-show-inline-block w3-border-bottom" style="font-weight: 900">
                        Company
                    </div>
                    <ul>
                        <li class="w3-padding-16">
                            <a href="{% slugurl 'about' %}">About</a>
                        </li>
                        <li class="w3-padding-16">
                            <a href="{% slugurl 'services' %}">Services</a>
                        </li>
                        <li class="w3-padding-16">
                            <a href="{% slugurl 'insights' %}">Insights</a>
                        </li>
                    </ul>
                </div>
                <div class="column is-6-mobile">
                    <div class="w3-large w3-text-grey w3-show-inline-block w3-border-bottom" style="font-weight: 900">
                        Contact
                    </div>
                    <ul>
                        <li class="w3-padding-16">
                            <a>
                                Office:
                                <br>
                                +233 (0) 50 433 1771
                                <br>
                                +233 (0) 59 601 8889
                                <br>
                            </a>
                        </li>
                        <li class="w3-padding-16">
                            <a>
                                Mobile:
                                <br>
                                +233 (0) 24 481 1816
                                <br>
                            </a>
                        </li>
                        <li class="w3-padding-16">
                            <a class="" href="mailto:services@turfpsyclox.com">services@turfpsyclox.com</a>
                        </li>
                        <li class="w3-padding-16">

                            <a class="w3-text-black" href="#"
                               rel="noopener noreferrer"
                               target="_blank"><i
                                    class="fab fa-2x fa-linkedin"></i></a>
                            &nbsp;
                            &nbsp;
                            <a class="w3-text-black" href="#"
                               rel="noopener noreferrer"
                               target="_blank"><i
                                    class="fab fa-2x fa-facebook-square"></i></a>
                            &nbsp;
                            &nbsp;
                            <a class="w3-text-black" href="#" rel="noopener noreferrer"
                               target="_blank"><i
                                    class="fab fa-2x fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <br class="w3-hide-small">
            <br class="w3-hide-small">
            <div class="w3-center">
                <small class="">
                    © 2020 Turf Psyclox Limited. All
                    rights reserved.
                </small>
            </div>

        </div>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
    })
</script>

{# Global javascript #}
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
